<section id="home">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li class="" data-target="#myCarousel" data-slide-to="1"></li>
      <li class="" data-target="#myCarousel" data-slide-to="2"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag 'lp_old/one.jpg' %>
      </div>
      <div class="item ">
        <%= image_tag 'lp_old/two.jpg' %>
      </div>
      <div class="item ">
        <%= image_tag 'lp_old/three.jpg' %>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>


<section id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center text-primary">ABOUT US</h2>
      <p>PAWAME is a team of international and local people working passionately
        to improve the quality of life of low income offgrid consumers with an
        affordable, clean and safe energy source.</p>
    </div>
  </div>
</section>


<section id="mission" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center text-primary">MISSION</h2>
    </div>
    <div class="col-sm-6">

      <p>There are more than 8 millions off-grid households and more than
        20 millions people living under the poverty line only in Kenya
        (2-10$ per day income).Our mission is to make electricity
        accessible to the off-grid consumers, with small daily energy
        budgets and little or no opportunities for credit/lending.
      Pawame : delivering more than just Energy</p>
    </div>

    <div class="col-sm-6">
      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/160052904"
        width="640" height="360" frameborder="0" webkitallowfullscreen
        mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

  </div>
</section>

<section id="solution" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 class="text-center text-primary">SOLUTION</h2>
      <%= image_tag 'pawame_product1.jpg' %>

    </div>
    <div class="col-sm-12">
      <p>We believe providing reliable, safe and affordable Solar energy is not
        only an undeniable necessity, but also an obligation. Our work stems
        from the understanding of a first-hand necessity: the need for energy,
        limited by lack of financing.</p>
        <p>We are willing to drive, through a sustainable business model, a
          meaningful social impact with a strong  financially inclusive service
          brought by modern Pay-as-you-Go mobile money platforms.</p>
    </div>
  </div>
</section>




<section id="impact" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center text-primary">IMPACT</h2>
      <p class="ext-center">Enlarging the electricity access in the environments
        we work in is not just an end in itself. We provide more than lights,
        we improve the living conditions of the community we serve. We strongly
        believe every firm has to keep an eye on the long-term social impact it has.
        Our work will benefit East Africa under many points of view. In the next
        three years, we will impact:</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3 class="text-primary">ENERGY ACCESS</h3>
      <p>By giving 200,000 people the opportunity to benefit from daily energy
        utilization, we lead to significant social improvements as well as
        potentially high returns.</p>

      <h3 class="text-primary">KEROSENE DISPLACEMENT</h3>
      <p>Increasing the use of solar power over kerosene will lead to cost
        savings, but more importantly huge longer term health benefits by the
        reducing the emission of CO2 by 12,000 tons.</p>

      <h3 class="text-primary">EDUCATION</h3>
      <p>Community impact of electrification enhances the ability to educate and
        communicate with citizens. The people we serve will have 250 millions of
        additional possible studying hours.</p>
    </div>
    <div class="col-sm-6">
      <h3 class="text-primary">EMPLOYMENT</h3>
      <p>Job and wealth creation within local communities will lead to increased
        prosperity. Pawame will create 500 direct jobs.</p>

      <h3 class="text-primary">FINANCIAL INCLUSION</h3>
      <p>Use of mobile money transactions enhances financial accountability and
        reduces fraud risk, improves local business environment.</p>

      <h3 class="text-primary">OTHER PRODUCTS & SERVICES</h3>
      <p>We are positioned to expand our product and further developmental service
        offerings (e.g. internet, TV, refrigeration, loans and other financial services),
        to hard-to-reach communities), creating a market value higher bigger than 1 billion $.</p>
    </div>
  </div>

</section>




<section id="contacts" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 class=" text-primary">CONTACTS</h2>
      <h3>pawame ltd</h3>
      <h3><a href="mailto:contacts@pawame.com">contacts@pawame.com</a></h3>
      <h3>Gem Lane 11, Nairobi/Kenya</h3>


      <div class="row">
        <div class="col-sm-6">
          <div class="fb-page" data-href="https://www.facebook.com/pawameafrica"
          data-tabs="timeline" data-small-header="false" data-adapt-container-width="true"
          data-hide-cover="false" data-show-facepile="true"><blockquote
          cite="https://www.facebook.com/pawameafrica" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/pawameafrica">Pawame</a></blockquote></div>
        </div>

        <div class="col-sm-6">
          <a class="twitter-timeline" href="https://twitter.com/PawameAfrica">Tweets by PawameAfrica</a> 
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>



      <div id="google-map" style="height: 400px;"></div>

    </div>
  </div>
</section>
