@import "bootstrap-sprockets";
@import "_variables";
@import "bootstrap";
@import "_helpers";


// Navbar styles - this is just temp home
.navbar-header {
  padding-top: 1em;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  img {
    max-height: 50px;
  }
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel-control.left {
  background-image: none;
  top: 50%;
}
.carousel-control.right {
  background-image: none;
  top: 50%;
}
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
.carousel-indicators {
  bottom: -50%;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #777;
}
.carousel-inner > .item > img {
  width: 100%;
}
